h1 {
  color: cornflowerblue;
  font-size: 70px;
  text-align: center;
  top: 0;
  width: 100%;
  margin: 1;
  font-family: Luminari;
  padding: 3px;
  image-orientation: flip;
}

h2 {
  text-align: center;
  color: darkslateblue;
  font-size: 20px;
  margin: 0 auto;
  max-width: 900px;
  padding: 7px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h3 {
  display: block;
  max-width: 1000px;
  text-align: center;
  font-family: Optima;
  font-size: small;
}

h4 {
  font-family: Papyrus;
  color: black;
  text-align: center;
  padding: 3px;
  display: block;
  margin: 0 auto;
}
h5 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(165, 127, 255);
  text-align: center;
}

h6 {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 200px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 7px;
}

.weather-request {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  align-content: center;
}

.information {
  border: 2px solid;
  max-width: 300px;
  border-radius: 100px;
}

.weather {
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  padding: 7px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: medium;
}

.intro {
  background-image: linear-gradient(
    to bottom,
    aquamarine,
    palegreen,
    yellowgreen,
    palegreen,
    aquamarine
  );
}

.col-1 {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid;
  border-radius: 30px;
  border-color: darkolivegreen;
  opacity: 60;
  border-width: medium;
}

span {
  text-transform: capitalize;
}
