h1 {
  color: cornflowerblue;
  font-size: 45px;
  text-align: center;
  top: 0;
  width: 100%;
  margin: 1;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: 1px black;
}

h2 {
  text-align: center;
  color: darkslateblue;
  font-size: 20px;
  margin: 0 auto;
  max-width: 700px;
  padding: 7px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h3 {
  display: block;
  max-width: 700px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  text-align: center;
  padding: 3px;
  display: block;
  margin: 0 auto;
}
h5 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(165, 127, 255);
  text-align: center;
}

.weather-request {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

.information {
  border: 1px solid;
  max-width: 200px;
}

.weather-week {
  border: 1px solid greenyellow;
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 900px;
  padding: 7px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: medium;
}

.intro {
  background-image: linear-gradient(to bottom, aqua, aquamarine);
  max-width: 1000px;
}
.plan-ahead {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 7px;
}
